[toolchain]
package_manager = "yarn"
anchor_version = "0.32.1"  # Requires avm installed
solana_version = "3.0.10"  # Sets solana-cli version

[features]
resolution = true
skip-lint = false

[programs.localnet]
sovereign_contract = "C4UAHoYgqZ7dmS4JypAwQcJ1YzYVM86S2eA1PTUthzve"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
